

h1.container {
    text-align: center;
}

p {
    text-align: justify;
    
}

body {
    background-color:gold;
}

ol {
    background-color:black;
    color: white;
    margin:none;
}

nav,ol, h2 {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

